**/__pycache__/*
**/.ipynb_checkpoints/*
VAISL/*.ipynb
VAISL/files_backup/
VAISL/wrong/
files/*git
photo_attributes.csv
segmentation/add_extra_removal.py
segmentation/cluster.py
segmentation/extract_sift.py
segmentation/inspect_no_sift.py
segmentation/no_sift/
segmentation/similar.ipynb
segmentation/similar_images.py
segmentation/skipped.json
segmentation/train_classifier.py
GPS_address.ipynb
VAISL/iou.csv
